.cart {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: auto;
}

.inner-cart h1 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.inner-cart {
    padding: 10px;
    text-align: center;
}

.inner-cart ul {
    padding-inline-start: 0;
}

.inner-cart ul li {
    list-style-type: none;
    padding: 5px 0 5px 0;
    margin: 0;
}