.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: 5px 0 0 0;
}

.second-row p {
    margin: 0;
}