.second-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 50px 0;
}

.first-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    margin: 5px 0 0 0;
}

.second-row p {
    margin: 0;
}

.first-row button {
    cursor: pointer;
    background-color: white;
    margin: auto 0;
    border-radius: 5px;
}

.first-row button:hover {
    background-color: black;
    color: white;
}