.footer a {
    color: white;
    text-decoration: none;
}

.footer {
    color: white;
    background-color: black;
    height: 65px;
}

.footer p {
    margin: 0;
}

.inner {
    width: 1320px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.3% 0;
}
